@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a VeterinariaG3</h1>
    <p>Descubre cómo cuidar mejor de tus mascotas.</p>
    <p>Nuestro equipo de veterinarios altamente calificados está aquí para brindarte el mejor cuidado para tus amigos peludos.</p>
</div>
