@model Veterinaria.DAL.Mascota

@{
    ViewData["Title"] = "Crear";
}

<h1>Crear Mascota</h1>

<h4>Mascota</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label">Nombre</label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Especie" class="control-label">Especie</label>
                <input asp-for="Especie" class="form-control" />
                <span asp-validation-for="Especie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Raza" class="control-label">Raza</label>
                <input asp-for="Raza" class="form-control" />
                <span asp-validation-for="Raza" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Edad" class="control-label">Edad</label>
                <input asp-for="Edad" class="form-control" />
                <span asp-validation-for="Edad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Genero" class="control-label">Género</label>
                <input asp-for="Genero" class="form-control" />
                <span asp-validation-for="Genero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Peso" class="control-label">Peso</label>
                <input asp-for="Peso" class="form-control" />
                <span asp-validation-for="Peso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dueño" class="control-label">Dueño</label>
                <input asp-for="Dueño" class="form-control" />
                <span asp-validation-for="Dueño" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Padecimiento" class="control-label">Padecimiento</label>
                <input asp-for="Padecimiento" class="form-control" />
                <span asp-validation-for="Padecimiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImagenMascota" class="control-label">Imagen</label>
                <input asp-for="ImagenMascota" class="form-control" />
                <span asp-validation-for="ImagenMascota" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaCreacion" class="control-label">Fecha de Creación</label>
                <input asp-for="FechaCreacion" class="form-control" />
                <span asp-validation-for="FechaCreacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Crear</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-secondary">Volver a la Lista</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
